@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #130e01;
    --background: #fffaeb;
    --primary: #ff8400;
    --secondary: #fff5d6;
    --accent: #cf4307;
  }
  .dark {
    --text: #fef9ec;
    --background: #140f00;
    --primary: #ff8400;
    --secondary: #291f00;
    --accent: #f86c30;
  }
}

@keyframes fadeOut {
  from {
    top: 0;
  }
  to {
    display: none;
    top: -100vh;
  }
}

.animation-fadeOut {
  animation: fadeOut 4s ease-in-out forwards;
}

@keyframes appearance-in {
  0% {
    opacity: 0;
    transform: translateZ(0) scale(0.95);
  }
  60% {
    opacity: 0.75;
    backface-visibility: hidden;
    webkit-font-smoothing: antialiased;
    transform: translateZ(0) scale(1.05);
  }
  100% {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
.animate-appearance-in {
  animation: appearance-in 250ms ease-out normal both;
}
